---
title: Recent News
---

%h2= current_page.data.title
%h3 2016
%hr
%ul.unstyled
  %li
    %strong May 13th, 2016
    %p
      The Whitehouse Office of Science and Technology Policy issues the National Microbiome Initiative
      %br
      %a{ class: "more-link", href:"https://www.whitehouse.gov/sites/whitehouse.gov/files/documents/OSTP%20National%20Microbiome%20Initiative%20Fact%20Sheet.pdf" }
        View Full Announcement [PDF]


%h3 2015
%hr
%ul.unstyled
  %li
    %strong July 29th, 2015
    %p
      The Whitehouse issues an Executive Order to start the National Computing Initiative
      %br
      %a{ class: "more-link", href:"https://www.whitehouse.gov/sites/default/files/microsites/ostp/nsci_fact_sheet.pdf" }
        View Full Announcement [PDF]

%ul.unstyled
  %li
    %strong February 1st, 2015
    %p Founding of the Center for Biological Discovery from Big Data!