---
title: Classes
---
%h2= current_page.data.title
%h3 Spring 2015
%ul.unstyled
  %li ECES 490/690:  Statistical Analysis of Genomics
  %li BMES 680:  Applied Bioinformatics
  %li CS 461: Database Systems
  %li CS 676: Parallel Programming
  %li PSBHL 693:  Applied Bayesian Analysis
  %li MATH 540: Numerical Computing