---
title: Overview
---
%h2= current_page.data.title
%h5 Data Management
%ul.unstyled 
  %li
    %a{:href => "http://cci.drexel.edu/faculty/jstoy/"} Julia Stoyanovich

%h5 Data Visualization
%ul.unstyled 
  %li
    %a{:href => "http://www.pages.drexel.edu/~cc345/"} Chaomei Chen
  %li
    %a{:href => "http://cci.drexel.edu/faculty/thu/"} Tony Hu

%h5 Ecology
%ul.unstyled 
  %li
    %a{:href => "http://www.drexel.edu/biology/contact/facultyDirectory/Gonder/"} Katy Gonder 
  %li
    %a{:href => "http://drexel.edu/bees/contact/facultyDirectory/Livshultz/"} Tatyana Livschultz
  %li
    %a{:href => "http://drexel.edu/bees/contact/facultyDirectory/McCourt/"} Richard McCourt
  %li
    %a{:href => "http://www.pages.drexel.edu/~jar337/people.html"} Jacob Russell
  %li
    %a{:href => "http://drexel.edu/bees/contact/facultyDirectory/Rosenberg/"} Gary Rosenberg

%h5 Environmental Health and Remediation
%ul.unstyled 
  %li
    %a{:href => "http://www.drexel.edu/cae/contact/faculty/HaasCharles/"} Chuck Haas
  %li
    %a{:href => "http://www.drexel.edu/cae/contact/faculty/SalesChristopher/"} Chris Sales
  %li
    %a{:href => "http://publichealth.drexel.edu/academics/faculty/Jennifer%20Taylor/"} Jennifer Taylor

%h5 Immunology
%ul.unstyled 
  %li
    %a{:href => "http://simlab.biomed.drexel.edu/"} Uri Hershberg

%h5 Machine Learning
%ul.unstyled 
  %li
    %a{:href => "http://www.ece.drexel.edu/gailr/EESI/"} Gail Rosen
  %li
    %a{:href => "http://cci.drexel.edu/faculty/cyang/pub.html"} Christopher Yang


%h5 Metagenomics and the Microbiome
%ul.unstyled 
  %li
    %a{:href => "http://cci.drexel.edu/faculty/thu/"} Tony Hu
  %li
    %a{:href => "http://www.ece.drexel.edu/gailr/EESI/"} Gail Rosen

%h5 Microbial Pathology
%ul.unstyled 
  %li
    %a{:href => "http://www.biomed.drexel.edu/new04/content/academics/faculty/dsp_faculty_details.cfm?RECID=261"} William Dampier
  %li
    %a{:href => "https://www.drexelmed.edu/Home/AboutOurFaculty/GarthEhrlich.aspx"} Garth Ehrlich
  %li
    %a{:href => "http://www.drexelmed.edu/Home/AboutOurFaculty/JoshuaMell.aspx"} Joshua Mell
  %li
    %a{:href => "https://www.drexelmed.edu/Home/AboutOurFaculty/BrianWigdahl.aspx"} Brian Wigdahl

%h5 Neurology
%ul.unstyled 
  %li
    %a{:href => "http://drexel.edu/biology/contact/facultyDirectory/Bethea/"} John Bethea
  %li
    %a{:href => "https://www.drexelmed.edu/Home/AboutOurFaculty/SimonGiszter.aspx"} Simon Giszter
  %li
    %a{:href => "http://biomed.drexel.edu/new04/neuroroboticslab/"} Karen Moxon

%h5 Numerical Analysis and Scientific Computing
%ul.unstyled 
  %li
    %a{:href => "http://www.math.drexel.edu/~simpson"} Gideon Simpson

%h5 Protein Interactions and Dynamical Models
%ul.unstyled 
  %li
    %a{:href => "https://www.drexelmed.edu/Home/AboutOurFaculty/SandhyaKortagere.aspx"} Sandhya Kortagere
  %li
    %a{:href => "http://www.drexel.edu/physics/contact/facultyDirectory/Urbanc%20Brigita/"} Brigita Urbanc

%h5 Video and Image Analysis
%ul.unstyled 
  %li
    %a{:href => "https://www.cs.drexel.edu/~david/"} David Breen
  %li
    %a{:href => "http://www.drexelmed.edu/Home/AboutOurFaculty/MarkZarella.aspx"} Mark Zarella