---
title: Contact Us
---
%h2= current_page.data.title

%p
  Gail Rosen
  %br 
  Director of the Center for Biological Discovery from Big Data
  %br 
  Department of Electrical and Computer Engineering
  %br 
  Drexel University Philadelphia, PA
  %br
  %a{:href => "mailto:gailr@ece.drexel.edu"}
    gailr@ece.drexel.edu