---
title: Home
---

%ul.bxslider
  %li= image_tag "slide-1.jpg", title: "Welcome to the Center for Biological Discovery from Big Data!"
  %li= image_tag "slide-2.jpg", title: "Welcome to the Center for Biological Discovery from Big Data!"
  %li= image_tag "slide-3.jpg", title: "Welcome to the Center for Biological Discovery from Big Data!"
  %li= image_tag "slide-4.jpg", title: "Welcome to the Center for Biological Discovery from Big Data!"