---
title: Home
---

%ul.bxslider
  %li= image_tag "slide-1.jpg", title: "Welcome to the Center for Biological Discovery from Big Data!"
  %li= image_tag "slide-2.jpg", title: "Welcome to the Center for Biological Discovery from Big Data!"
  %li= image_tag "slide-3.jpg", title: "Welcome to the Center for Biological Discovery from Big Data!"
  %li= image_tag "slide-4.jpg", title: "Welcome to the Center for Biological Discovery from Big Data!"

%h2 Mission Statement
%p
  The Center for Biological Discovery from Big Data (BD<sup>2</sup>) is a collective of researchers at Drexel University who generate and use large datasets to advance our understanding of biological systems.  As sequencing and sensor technology advances, our ability to collect data is growing, leading us to approaches that can help us infer system behavior from observations.  However, the rate that the data is input is outpacing our ability to compute it, leading to new challenges in handling large data and making inferences from it.  The BD<sup>2</sup> center is bridging biological applications to the computational resources and methods that can enable new discovery in these areas.  We welcome both biological-domain and computational/mathematical researchers to participate in BD<sup>2</sup>.